{% load staticfiles %}
<html>
    <head>
        <title>Blog da Mi</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
        <link rel="stylesheet" href="{% static '/css/blog.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="headers">
                {% if user.is_authenticated %}
                    <a href="{% url 'novo_post' %}" class="icone"><span class="glyphicon glyphicon-plus">Post</span></a>
                    <a href="{% url 'deslogar' %}" class="icone2"><span class="glyphicon glyphicon-off">Sair</span></a>
                {% else %}
                    <a href="{% url 'logar' %}" class="icone"><span class="glyphicon glyphicon-user">Logar</span></a>
                    <a href="{% url 'cadastro' %}" class="icone2"><span class="glyphicon glyphicon-edit">Cadastro</span></a>
                {% endif %}
                <div class="container">
                    <div class="usuario">
                        Bem vindo {{user.username}}
                    </div>
                    <h1>Blog da Mi</h1>
                    <h3>Olá menines!</h3>
                </div>
            </div>
                <ul class="nav nav-tabs col-md-8" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="menu" href="{% url 'lista_posts' %}">Home</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
        </div>
            {% block content %}

            {% endblock %}
        </body>
</html>