{% extends 'blog/base.html' %}

{% block content %}
<div class="content container">
  <div class="row">
    <div class="col-md-8">
      {% if posts.data_publicacao %}
        <div class="date">
          {{posts.data_publicacao}}
        </div>
      {% endif %}
      <div class="headers">
        <h1 class="details">{{posts.titulo}}</h1>
      </div>
      <p>{{posts.text}}</p>
      {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'editar' pk=posts.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}