{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="headers">
                        <h2><a href="{% url 'detalhes_post' pk=post.pk %}">{{ post.titulo }}</a></h2>
                    </div>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <p>published: {{ post.data_publicacao }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
