{% extends 'blog/base.html' %}

{% block content %}
  <form action="{% url 'logar' %}" method="POST" class="form-row">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <div class="col-sm-3 my-1">
              <label class="label1">Nome de usuario</label>
              <input name="nome_usuario" type="text" class="form-control" placeholder="Nome de usuario" aria-describedby="basic-addon1">
            </div>
            <div class="col-sm-3 my-1">
              <label class="label1">Senha</label>
              <input name="senha" type="password" class="form-control" placeholder="Senha" aria-describedby="basic-addon1">
            </div>
            </br>
            <button type="submit" class="btn btn-primary btn-sm">Logar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{%  endblock %}