 .headers {
    color: 65BAD6;
    font-family: 'Indie Flower', cursive;
 }

 h2 a {
    color: E09DD7;
 }

 a:link {
    text-decoration:none;
 }

 a:hover{
    color: C466B8;
 }

 p {
    font-family: 'Nanum Myeongjo', serif;
 }

 .date{
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    color: BABABA;
 }

 .details {
    color: E09DD7;
 }

 .menu {
    font-family: 'Nanum Myeongjo', serif;
    color: 509AB3;
    font-weight: bold;
 }

 .menu:hover {
    color: C466B8;
 }

 .label1 {
    color: C466B8;
    font-family: 'Indie Flower', cursive;
 }

 .label2{
    color: C466B8;
    font-family: 'Indie Flower', cursive;
    margin-top: 5px;

 }

 .form-group {
    padding: 6px;
 }

 label{
    padding: 5px
 }

 button {
    margin-top: 15px;
 }

 .usuario {
    padding-top: 25px;
    font-family: 'Indie Flower', cursive;
    color: E09DD7;
 }

 .user-settings {
    float: right;
    margin-right: 35%;
    margin-top: 2%;
 }

 .clear {
    clear:both;
 }

 .autor {
    font-family: 'Indie Flower', cursive;
    color: C466B8;
 }

  .header2 {
    color: 65BAD6;
    font-family: 'Indie Flower', cursive;
    margin-left: 2%;
    float: left;
 }