 .headers {
    color: 65BAD6;
    font-family: 'Indie Flower', cursive;
 }

 h2 a {
    color: E09DD7;
 }

 a:link {
    text-decoration:none;
 }

 a:hover{
    color: C466B8;
 }

 p {
    font-family: 'Nanum Myeongjo', serif;
 }
